.base-page {
    background-color: white;
  position: relative;
  min-height: 100vh;
    .logo {
        display: block;
        margin-left: 30px;
        margin-top: 14px;
        width: 160px;
        height: auto;
    }

    #background-img {
        width: 50%;
        height: auto;
        float: right;
        position: relative;
        margin-top: 40px;
        margin-right: -80px; 
        z-index: 5;
    }
    .base-header {
        margin-left: 30px;
        margin-top: 40px;
        margin-bottom: 0px;
        font-family: Sans-Serif;
        font-weight: lighter;
        color: #2977c9;
            font-size: 50px;
        display:inline-block;
    }

    .nav-buttons {
        margin-left: 30px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 20px;

        .navbutton {
            background-color: white;
            width: 350px;
            color: #0073b1;
            cursor: pointer;
            font-size: 1.2rem;
            font-weight: 400;
            font-family: Sans-Serif;
            height: 60px;
            line-height: 32px;
            overflow: hidden;
            // outline-width: 10px;
            padding-left: 15px;
            padding-right: 15px;
            text-align: left;
            text-decoration: none; 
            border-radius: 10px; 
            border-color: lightgrey;
            border-width: 1px;
            box-shadow: inset 0 0 0 1px lightgrey;
            color: black;
            margin-top: 15px;
        }

        .navbutton:hover {
            border-color: transparent;
            background-color:rgb(238, 238, 238);
            color:rgb(60, 60, 60);  
            box-shadow: inset 0 0 0 2px black;    
            font-weight: 500;  
        }

        .second-nav-button {
            width: 350px;
            z-index: 1;
        }

        .first-nav-button {
            // width: 350px;
            z-index: 1;
        }

        .third-nav-button {
            width: 350px;
            z-index: 1;
        }

        .second-nav-button:hover {
            .tooltip{
            visibility: visible;
            opacity: 1;
            color:rgb(238, 238, 238);
            background-color: #2977c9;
            }  
        }

        .third-nav-button:hover {
            .tooltip{
            visibility: visible;
            opacity: 1;
            color:rgb(238, 238, 238);
            background-color: #2977c9;
            font-family: sans-serif;
            }  
        }
        

        .arrow {
            border: solid black;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;;
            // margin-left: 10px;
        }

        .right {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }

        .one {
            margin-left: 163px; 
        }

        .two {
            margin-left: 125px; 
        }

        .three {
            margin-left: 155px; 
        }
    }
    
    .base-buttons {
        position: absolute; 
        right: 10px;
        top: 12px;
        
        #signin {
            cursor: pointer;
            font-size: 1.0rem;
            font-weight: 600;
            font-family: Sans-Serif;
            height: 32px;
            line-height: 32px;
            // outline-width: 2px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            text-decoration: none; 
            border-radius: 50px; 
            border-width: 1px;
            box-shadow: inset 0 0 0 1px #0a66c2;
            color: #0a66c2;
            margin-top: 10px;
            // margin-top: 30px;
        }

        #signin:hover {
            border-color:  #2977c9;
            background-color:  #e3eefa;
            border-width: 2px;
            // margin: -1px;
            box-shadow: inset 0 0 0 2px #0a66c2;
            // margin-left: 10px;
            // margin-right: 10px;
            cursor: pointer;
        }
        
        #joinnow {
            background-color: rgba(0,0,0,0);
            border: 0;
            cursor: pointer;
            font-size: 1.0rem;
            font-weight: 600;
            font-family: Sans-Serif;
            height: 32px;
            line-height: 32px;
            // overflow: hidden;
            // outline-width: 2px;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 6px;
            padding-bottom: 6px;
            text-align: center;
            text-decoration: none;
            z-index: 0;
            border-radius: 4px;
            color: rgba(0,0,0,0.6);
            margin: 0px 2px;
        }

        #joinnow:hover {
            border-color: transparent;
            background-color:rgb(238, 238, 238);
            color:rgb(60, 60, 60);         
        }
    }

    #bottom {
        display:flex;
        align-content: bottom; 
        // height: 100px;
    }

    #bottom-img {
        position: relative;
        width: 110%; 
        margin-left: -15px; 
        margin-top: -200px;
        z-index: 0;
    }

    .footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    width:120%;
    height: 300px;
    background-color: #f1f1f1;
    margin-left: -10px;
    margin-top: -20px;
    margin-bottom: -10px;
    border-color: #F8F8F8;
    border-top-width: 2px;

    
}

.left-footer {
    margin-left: 55px;
    margin-top: 25px;
}

.right-footer {
    margin-right: 25%;
    margin-top: 25px;
}


}
.main-footer-info {
    position: relative;
    display: flex;

    .founder{
        display: inline-block;
        font-size: 22px;
        margin-left: 30px;
        font-family: Sans-Serif;
        margin-top: 10px;
    }
    
    .faceshot {
        display: inline-block;
        height: 60px; 
        border-radius: 10px;
        border: 1px solid black;
    }
}

.footlinks {
    // position: relative;
    margin-left: 95px;
    // margin-top: 5px;
}

.right-footlinks {
    margin-left: 30px;
    // margin-top: 10px;
}

.left-footlinks {
    margin-left: 50px;
    // margin-top: 10px;
}

.footer-personal-links {
    position: relative;
    display: flex;
    margin-bottom: 15px;

    .footer-link-button {
        display: inline-block;
    }
    
    .footer-link-text {
        display: inline-block;
        font-family: sans-serif;
        margin-left: 15px;
        margin-top: 3px;
    }

    .footer-link-text:hover {
        text-decoration: underline;
    }
}

.footer-tech-text {
    display: inline-block;
    font-family: sans-serif;
    margin-left: 15px;
    margin-top: 3px;
}

.tech-used-container {
    position: relative;
    display: flex;
}

    .tooltip{
        visibility:hidden;
        display: inline;
        position:absolute;
        margin-top:5px;
        margin-left: 15px;
        padding: 3px;
        background-color: rgb(70, 70, 70);
        opacity: 0;
        transition: opacity 1s;
    }