 .modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.7);
   z-index: 10;
 }

 .modal-child {
   position: absolute;
   top: 15%;
   left: 29%;
    height: 500px;
    width: 550px;
    // width: 700px;
  //  transform: translate(-50%, -50%);
 }

 .close-x {
   position: absolute;
  //  display: inline-block;
   text-align: center;
   font-size: 20px;
   padding-top: 5px;
   top: 5px;
   right: 10px;
   height: 30px;
   width: 35px;
   font-family: sans-serif;
   cursor: pointer;
   border-radius: 50%;
   font-weight: 300;  
 }

 .close-x:hover {
    border-color: transparent;
    background-color:rgb(238, 238, 238);
    color:rgb(60, 60, 60);  
    font-weight: 500;    
 }

 .modal-form {
  //  position: fixed;
    // height: 100%;
    // margin-top: 30%;
    border-radius: 8px;
    background-color: white;
}

.modal-header {
  // margin-top: 30%;
  // padding-top: 15px;
  padding: 10px;
  margin-left: 20px;
  font-weight: 300;
  font-family: sans-serif;
  font-size: 20px;
  width: 510px;
}

#modal-border {
  //  width: 510px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 20px;
}

.modal-textarea {
  margin-top: 0px;
  width: 500px;
  margin-left: 20px;
  height: 100px;
   font-family: sans-serif;
  border: 0px; 
}

// .modal-photo-icon {
// display: inline-block;
// }

.modal-file-button {
 display: inline-block;
 margin-left: 20px;
 margin-bottom: 20px;
 margin-top: 15px;
//  opacity: 0;  
}

.modal-post-button {
  position: absolute;
  display: inline-block;
  color:white;
  text-align: center;
  background:  #2072ca;
  width: 50px;
  padding: 8px;
  border-width: 0px;
  border-radius: 40px;
  font-weight: bold;
  margin-top: 11px;
  margin-bottom: 28px;  
  // margin-right: 10px;
  margin-left: 175px; 
}

.preview-img {
    width: 490px;
    height: 300px; 
    margin-left: 20px;
}

// Profile Edit Modal:

 .modal-edit {
  //  position: fixed;
    height: auto;
    width: auto;
    // margin-top: 30%;
    border-radius: 8px;
    background-color: white;
    // margin-left: -50px;
    // padding-left: -50px;
}

.modal-edit-header {
  padding-top: 10px;
  font-weight: 300;
  padding-left: 20px;
  font-family: sans-serif;
  font-size: 20px;
  padding-bottom: 20px;   
}

.edit-modal-border {
  border-bottom: solid lightgrey;
  border-width: 1px;
  width: 550px;   
}


// .model-fname-container {
//   display: inline-block;
//   // width: 50%;
// }

// .modal-edit-title-location{
// display:inline-block;
// }

// .model-headline-container {
//   width: 100%;
// }

// .model-location-container {
//   width: 100%;
// }

.edit-modal-form {
  padding-left: 20px;
  // padding-right: 10px;
}

    .modal-name-label {
        text-align: right;
        width: 100px;
        white-space: nowrap;
        // margin-bottom: 5px;
        font-size: 12px;
        font-family: sans-serif;
        color: grey; 
        // margin-left: 20px;
    }

    // .modal-name-input {
    //     width: 200px;
    //     border-radius: 3px;
    //     height: 25px;
    //       font-size: 12px;
    //     font-family: sans-serif;
    // }

    .modal-fname-input {
        width: 230px;
        border-radius: 3px;
        height: 25px;
          font-size: 12px;
        font-family: sans-serif;
        margin-bottom: 20px;
        padding: 2px;
    }

    .modal-lname-input {
        width: 230px;
        border-radius: 3px;
        height: 25px;
          font-size: 12px;
        font-family: sans-serif;
        padding: 2px;
    }

    .edit-modal-fullname {
      margin-top: 30px;
      float: left;
      width: 250px;
      margin-right: 20px;
    }
    .modal-headline {
      width: 230px;
      border-radius: 3px;
      height: 25px;
      margin-bottom: 20px;
      font-size: 12px;
      font-family: sans-serif;
      padding: 2px;
    }

    .modal-location {
      width: 230px;
      border-radius: 3px;
      height: 25px;
        font-size: 12px;
        font-family: sans-serif;
        // margin-top: 3px;
        padding: 2px;
    }

    .modal-edit-title-location {
        margin-top: 30px;
      display: inline-block;
      width: 200px;
      
    }

    .model-description-container {
      align-items: left;
      display: flex;
      flex-direction: column;
      margin-top: 20px;
    }

    .modal-description-label {
        width: 200px;
        white-space: nowrap;
        font-size: 12px;
        font-family: sans-serif;
        color: grey; 
    }

    .modal-description-textarea {
      border-radius: 3px;
      width: 93%;
      height: 50px;
      margin-top: 3px;
      font-family: sans-serif;
      padding: 5px;
    }


   .modal-edit-save {
    position: relative;
  display: inline-block;
  color:white;
  text-align: center;
  background:  #2072ca;
  width: 50px;
  padding: 6px;
  border-width: 0px;
  border-radius: 40px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 8px;  
  // margin-right: 10px;
  margin-left: 440px;  
   }

  .start-end-container {
    // position: relative,
    display: flex;
    justify-content: space-between;
    width: 235px;
  }

  .modal-start-container {
    display: inline-block;
  }

  .modal-end-container {
    display: inline-block;
    // padding-left: 25px;
  }

  .modal-start-input {
    display: table-column;
      width: 90px;
      border-radius: 3px;
      height: 25px;
      margin-bottom: 20px;
      font-size: 12px;
      font-family: sans-serif;
      padding: 2px;
  }

  .modal-end-input {
    display: table-column;
      width: 100px;
      border-radius: 3px;
      height: 25px;
      margin-bottom: 20px;
      font-size: 12px;
      font-family: sans-serif;
      padding: 2px;
      // margin-right: 20px;
  }



