   .session-signup-box {
       width: 345px;
       height: 280px;
       box-shadow: 0 4px 12px lightgrey;
       padding: 24px, 32px, 32px; 
       border-radius: 8px;
       margin: 0 auto;
       background: #fff;
       padding-top: 8px;
       padding-bottom: 8px;
   }

   .session-welcome-box {
       width: 345px;
       height: 295px;
       box-shadow: 0 4px 12px lightgrey;
       padding: 24px, 32px, 32px; 
       border-radius: 8px;
       margin: 0 auto;
       background: #fff;
       padding-top: 8px;
       padding-bottom: 8px;
   }

      .session-almostdone-box {
       width: 345px;
       height: 355px;
       box-shadow: 0 4px 12px lightgrey;
       padding: 24px, 32px, 32px; 
       border-radius: 8px;
       margin: 0 auto;
       background: #fff;
       padding-top: 8px;
       padding-bottom: 8px;
   }

